In [2]:
import pandas as pd
import numpy as np

In [3]:
ds = 'data-scientist-job-market.csv'
ln = 'linkedin_data.csv'

In [4]:
ds_df = pd.read_csv(ds,encoding = "ISO-8859-1")
ln_df = pd.read_csv(ln,encoding = "ISO-8859-1")

In [5]:
ds_df.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

In [6]:
ds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
position       6953 non-null object
company        6953 non-null object
description    6953 non-null object
reviews        5326 non-null float64
location       6953 non-null object
dtypes: float64(1), object(4)
memory usage: 272.1+ KB

In [63]:
ds_df.groupby('company').count().sort_values(by="position",ascending=False)['position']

company
Amazon.com                                358
Ball Aerospace                            187
Microsoft                                 137
Google                                    134
NYU Langone Health                         77
Fred Hutchinson Cancer Research Center     70
KPMG                                       66
Lab126                                     50
Facebook                                   49
Broad Institute                            49
Walmart eCommerce                          45
McKinsey & Company                         41
Takeda Pharmaceutical                      39
University of Washington                   39
Harnham                                    39
Oath Inc                                   34
Pharmacyclics, an Abbvie Company           34
Celgene Corporation                        34
Cymer                                      32
Brigham & Women's Hospital(BWH)            31
Biogen                                     30
Sanofi                                     28
Amgen                                      28
Illumina                                   27
JP Morgan Chase                            27
Jacobs                                     27
JD.com                                     26
JUUL Labs                                  26
Zillow Group                               26
Cedars-Sinai                               24
                                         ...
Marcus & Associates                         1
Marchex                                     1
Connect VIP                                 1
Connection Lab                              1
Manthan Systems                             1
Connexion Systems & Engineering             1
Mallinckrodt                                1
Malin Space Science Systems, Inc.           1
Match                                       1
Comtech Global Inc                          1
Matrix New World Engineering                1
Matrix Resources                            1
Metro-Goldwyn-Mayer Studios                 1
Coinlist                                    1
Metabiota                                   1
Meso Scale Diagnostics                      1
College of Marin                            1
Merkle Inc.                                 1
CollegeVine                                 1
Comlinkdata                                 1
Memjet                                      1
MemComputing, Inc.                          1
Commerce Signals                            1
Compass Lexecon                             1
MedStar Health Research Institute           1
MedStar Health                              1
McKesson                                    1
Maxus                                       1
Matthews Asia                               1
10x Genomics                                1
Name: position, Length: 2213, dtype: int64

In [21]:
# Count of location data with zip code
ds_df[ds_df['location'].str.contains('0|1|2|3|4|5|6|7|8|9', na = False)].location.size

2143

In [40]:
# Get rid of zip code, leaving only city and state
import re
for row_index,row in ds_df.iterrows():
    
    location_string = re.split(' |, ',str(row['location']))[:2]
    if(location_string[0]!='nan'):
        ds_df.loc[row_index,'city'] = location_string[0]
        ds_df.loc[row_index,'state'] = location_string[1]
                            
ds_df.tail()

,position,company,description,reviews,location,city,state
6959,Data Developer / Machine Learning Analyst,NetApp,Are you data-driven? We at NetApp believe in t...,574.0,"Sunnyvale, CA",Sunnyvale,CA
6960,Scientist I,"Pharmacyclics, an Abbvie Company",Pharmacyclics is committed to the development ...,26.0,"Sunnyvale, CA",Sunnyvale,CA
6961,Intern Scientist,Oath Inc,"Oath, a subsidiary of Verizon, is a values-led...",5.0,"Sunnyvale, CA",Sunnyvale,CA
6962,Senior Data & Applied Scientist,Microsoft,We are the Bing Core Relevance team responsibl...,4618.0,"Sunnyvale, CA",Sunnyvale,CA
6963,"Principal Data Scientist, Deep Learning",Comcast,Comcastâs Technology &amp; Product organizat...,11610.0,"Sunnyvale, CA 94089",Sunnyvale,CA